            body {

                font-family: sans-serif;
            }
            #container {
                margin: 0;
                padding: 0;
                width: 200px;
                height: 200px;
                background-color: none;
                display: none;
                position: relative;
                border: 1px solid black;
            }
            #bold {
                margin: 0;
                font-weight: bold;
                float: left;
            }
            #tops {
                margin: 0;
                padding-left: 80px;
                font-weight: bold;
                float: left;
            }
            #avarage {
                margin: 0;
                padding-left: 80px;
                font-weight: bold;
                float: left;
            }